@tailwind base;
@tailwind components;
@tailwind utilities;

#tsparticles {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 98vw !important;
  height: 100%;
  opacity: 100%;
  pointer-events: none !important;
}

:root {
  --font-test-mono: "Vetregular", sans-serif;
}

@font-face {
  font-family: "Vetregular";
  src: url("../fonts/Vetregular.ttf") format("truetype");
  font-weight: 100 900;
}

html,
body {
  overflow-x: hidden !important; /* Prevent horizontal overflow */
}

.swiper-button-next,
.swiper-button-prev {
  display: none;
}

/* .swiper {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
} */

/* .swiper-slide {
  width: 35% !important;
} */

/* Style for Swiper Next and Prev buttons */
.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%; /* Make the arrows circular */
  padding: 12px; /* Space inside the button */
  z-index: 10; /* Ensure the arrows appear above other elements */
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  display: none !important;
}

/* Custom positioning for next/prev buttons */
.swiper-button-next {
  right: 30% !important; /* Move the "next" button closer to the center */
  left: auto;
}

.swiper-button-prev {
  left: 30% !important; /* Move the "prev" button closer to the center */
  right: auto;
}

.swiper-button-next svg {
  width: 2.5rem !important;
}

.swiper-button-prev svg {
  width: 2.5rem !important;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
